@font-face {
    font-family: Sofia Pro;
    src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0D0D0D;
    font-family: Sofia Pro, serif;
    color: #FFFFFF;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a {
    padding: 0 10px;
    /* font-style: 18px !important; */
}

/* Header Slide */
.header-slide {
    display: flex;
    justify-content: space-between;
}

.header-slide .left-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 86px 0;
}

.header-slide .left-side .trust-image {
    margin-bottom: -15px;
}

.header-slide .left-side h1 {
    max-width: 530px;
    font-size: 54px;
    font-weight: 900;
    line-height: 78.3px;
}

.header-slide .left-side .line-header {
    padding: 38px 0 28px 208px;
}

.header-slide .left-side p {
    max-width: 517px;
    font-size: 22px;
    line-height: 32.21px;
    letter-spacing: -0.01em;
}

.header-slide .left-side .search-box {
    margin: 27px 0 30px 0;
    position: relative;
}

.header-slide .left-side .search-box input {
    border: 0.5px solid #FFFFFF;
    border-radius: 100px;
    background: #0D0D0D;
    width: 400px;
    height: 50px;
}
.header-slide .left-side .search-box input::placeholder {
    padding-left: 40px;
}

.header-slide .left-side .search-box i:first-child {
    position: absolute;
    left: 1em;
    top: 1em;
}
.header-slide .left-side .search-box i:last-child {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    background-color: #FDCE77;
    color: #0D0D0D;
    padding: 10px;
    border-radius: 50%;
}

.header-slide .left-side .button-box {
    display: flex;
    gap: 31px;
    align-items: center;
}
.button-box .watch-video {
    display: flex;
    /* gap: 21px; */
    align-items: center;
}
.button-box .watch-video img {
    width: 52px;
    height: 52px;
    margin-top: 15px;
}

.header-slide .right-side {
    flex-grow: 1;
}
.header-slide .right-side img {
    width: 100%;
    height: 100%;
}


