@font-face {
    font-family: Sofia Pro;
    src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0D0D0D;
    font-family: Sofia Pro, serif;
    color: #FFFFFF;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a {
    padding: 0 10px;
    /* font-style: 18px !important; */
}

/* Header Slide */
.header-slide {
    display: flex;
    justify-content: space-between;
}

.header-slide .left-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 86px 0;
}

.header-slide .left-side .trust-image {
    margin-bottom: -15px;
}

.header-slide .left-side h1 {
    max-width: 530px;
    font-size: 54px;
    font-weight: 900;
    line-height: 78.3px;
}

.header-slide .left-side .line-header {
    padding: 38px 0 28px 208px;
}

.header-slide .left-side p {
    max-width: 517px;
    font-size: 22px;
    line-height: 32.21px;
    letter-spacing: -0.01em;
}

.header-slide .left-side .search-box {
    margin: 27px 0 30px 0;
    position: relative;
}

.header-slide .left-side .search-box input {
    border: 0.5px solid #FFFFFF;
    border-radius: 100px;
    background: #0D0D0D;
    width: 400px;
    height: 50px;
}
.header-slide .left-side .search-box input::placeholder {
    padding-left: 40px;
}

.header-slide .left-side .search-box i:first-child {
    position: absolute;
    left: 1em;
    top: 1em;
}
.header-slide .left-side .search-box i:last-child {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    background-color: #FDCE77;
    color: #0D0D0D;
    padding: 10px;
    border-radius: 50%;
}

.header-slide .left-side .button-box {
    display: flex;
    gap: 31px;
    align-items: center;
}
.button-box .watch-video {
    display: flex;
    /* gap: 21px; */
    align-items: center;
}
.button-box .watch-video img {
    width: 52px;
    height: 52px;
    margin-top: 15px;
}

.header-slide .right-side {
    flex-grow: 1;
}
.header-slide .right-side img {
    width: 100%;
    height: 100%;
}


/* Special Offers */
.special-offers {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-offers h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
}

.special-offers p {
    max-width: 800px;
    font-size: 18px;
    line-height: 24.16px;
    padding: 22px 0px 66px 0px;
    text-align: center;
}


.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.item-special-offers {
    /* background-color: #fff; */
}

.item .item-img {
    margin-bottom: -130px;
}

.content-item {
    background: linear-gradient(179.69deg, rgba(255, 255, 255, 0) -31.53%, #F54748 303.75%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 34px 0 34px;
}

.item-score {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 131px 0 42px 0;
}
.item-score img {
    width: 74px;
    height: 38px;
}
.item-score i {
    color: #FDCE77;
}

.content-item h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 33.22px;
    color: #F54748;
}

.content-item p {
    padding: 16px 0 57px 0;
    font-size: 12px;
}

.content-item button {
    margin-bottom: -15px;
}


/* Services */
.services {
    display: flex;
    gap: 70px;
}

.services .left-side {
    width: 100%;
}
.services .left-side img {
    width: 100%;
}

.services .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5rem 0 5rem 0;
}

.services .right-side h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 62.35px;
    padding-bottom: 21px;
    max-width: 452px;
}

.services .right-side p {
    max-width: 690px;
    font-size: 18px;
    line-height: 24.16px;
}

.services .right-side .multiple-services {
    display: flex;
    gap: 90px;
}

.services .right-side .multiple-services li {
    padding-bottom: 30px;
}

.services .right-side .multiple-services img {
    width: 20px;
    height: 20px;
}

.services .right-side .multiple-services span {
    font-size: 16px;
    padding-left: 5px;
}


/* Lovely Menu */
.lovely-menu {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lovely-menu h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
    max-width: 650px;
}

.lovely-menu .menu {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.lovely-menu .menu li {
    padding: 10px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}
.lovely-menu .menu li:first-child {
    background-color: #F54748;
    color: #0D0D0D;
    border: none;
}