@media only screen and (max-width: 992px) {
    .navbar ul {
        display: none;
    }
    .navbar button {
        display: none;
    }
    .navbar i {
        display: block;
        width: 36px;
        height: 27px;
    }

    .header-slide {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .items {
        overflow-y: scroll;
        width: 100%;
    }

    .services, .services .multiple-services {
        flex-direction: column;
        gap: 0px !important;
    }
    .services .multiple-services {
        padding-top: 80px;
    }

    .lovely-menu .menu {
        overflow-x: scroll;
        width: 100%;
    }
}