@media only screen and (max-width: 992px) {
    .navbar ul {
        display: none;
    }
    .navbar button {
        display: none;
    }
    .navbar i {
        display: block;
        width: 36px;
        height: 27px;
    }

    .header-slide {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .items {
        overflow-y: scroll;
        width: 100%;
    }

    .services, .services .multiple-services {
        flex-direction: column;
        gap: 0px !important;
    }

    .lovely-menu .menu {
        overflow-x: scroll;
        width: 100%;
    }

    .mobile-app {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .mobile-app .left-side p {
        width: 100%;
    }

    footer .content-footer {
        flex-direction: column;
        gap: 30px;
    }
    .content-footer .foodhut, .content-footer .middle-footer, .content-footer .get-in-touch {
        width: 100%;
    }
}